body{
  background: linear-gradient(#EDEFFE, #EDFEEE, #EDEFFE);
  min-width: 400px;
}

.well{
  background-color: #EDEFFE;
}

.trackheader img{
  display: block;
  margin: 0px auto;
}

#answerRow{
  display: none;
}

#rubyRails, #cssDesign, #javaAndroid, #csharpDotnet, #cssReact, #feedback, #emptyMessage{
  display: none;
}

#reactpng img{
  height: 105px;
  width: 120px;
}

#reactpng{
  margin-left: -25px;
}

#feedback p{
  font-weight: bold;
}
